.productTable-container {
  display: flex;
  padding: 30px;
}

.search_container {
  display: flex;
  align-items: center;
}

.search_icon {
  margin-right: 15px;
  margin-left: 15px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#home-link{
  text-decoration: none;
  color: inherit;
}